<form id="content_input_form" accept-charset="UTF-8" action="{{path}}" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="hUetMsNfCrL64egrdUqV1x4lDBTOi3c+pXv6zyH726k="></div>
    <input id="content_source_url" name="content[source_url]" placeholder="Resource link" type="text">
    <textarea id="content_text" name="content[text]" placeholder="How did you use this resource?"></textarea>
    <input id="content_submit" class="button large" name="commit" type="submit" value="create">
</form>